---
import { SOCIALS } from "@config";
import LinkButton from "./LinkButton.astro";
import socialIcons from "@assets/socialIcons";

export interface Props {
  centered?: boolean;
}

const { centered = false } = Astro.props;
---

<div class={`social-icons ${centered ? "flex" : ""}`}>
  {
    SOCIALS.filter(social => social.active).map(social => (
      <LinkButton
        href={social.href}
        className="link-button"
        title={social.linkTitle}
      >
        <img src={social.src} alt={social.name + " - " + social.href} class="social-icon" />
      </LinkButton>
    ))
  }
</div>

<style>
  .social-icons {
    @apply flex-wrap justify-center gap-1;
  }
  .social-icon {
    @apply h-6 w-6;
  }
  .social-icon:hover {
    @apply scale-125;
  }
  .link-button {
  }
</style>
